h2 {
  position: absolute;
  top: 12px;
  left: 104px;
  color: #f8d900;
  text-decoration: underline;
  text-shadow: -0 0.5px 0 #ff0202,
}

p {
  color: #b0b0b0;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(165deg, rgba(25, 48, 105, 1) 0%, rgba(0, 0, 0, 1) 49%);
  height: 100vh;


  & .logo {
    flex-wrap: wrap;
    max-width: 40%;
    max-height: 40%;
    margin-bottom: 50px;
  }

  & .login-container {
    position: relative;
    height: 210px;
    width: 300px;
    padding: 0 10px;
    border-radius: 10px;
    border: #1863a4 solid 1px;
    background: rgba(96, 108, 182, 0.33);
    transition: 3s ease;

    &.valid {
      box-shadow: 0 168px 147px 12px rgba(255, 255, 255, 0.22);
    }



    &__email {
      position: absolute;
      top: 65px;
      display: flex;
      justify-content: space-between;
      width: 95%;
    }

    &__password {
      top: 115px;
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 95%;
    }


    & .create-button {
      position: absolute;
      bottom: 25px;
      left: 96px;
      cursor: pointer;
      width: 130px;
      height: 30px;
      color: #ffffff;
      background: #0b6bff;
      border-radius: 5px;
      border: none;
      transition: 0.2s;

      &.invalid {
        background: #5b5b5b;
        color: #bbbbbb;
        cursor: auto;
      }


    }
  }

  & .routing-container {
    position: absolute;
    bottom: 2px;
    left: 63px;
    font-size: 14px;

    & a {
      color: white;
    }

  }

  & .user-flag-message {
    position: absolute;
    top: 92px;
    left: 29px;
    color: #ff0202;
  }

}

.welcome-message{
  color: #0b6bff;
  font-size: 60px;
}

.create-button:active {
  transform: scale(0.97);
  background: #69a5ff;
}
