p, h1, h2, h3 {

}

header {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px 0 5px;
  background: #eeeeee;
  transition: .5s linear;

  &:hover {
    box-shadow: 0 3px 20px 0 rgba(93, 101, 187, 0.75);
  }

  & .tittle {
    width: 210px;

    &__logo {
      cursor: pointer;
      width: 80%;

    }
  }

  & .battle-page {


    &__text {
      cursor: pointer;
    }

  }

  & .user-page {
   min-width: 100px;

    &__text {
      cursor: pointer;
    }
  }
  & .log-out{
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 20px;
    background: #f88b8b;
    border-radius: 5px;
    border: none;
    padding: 2px;

  }
}

