<!--registr img-->

<!--1. Создать страницу с регистрацией-->       <!--DONE-->

<!--2. На странице должна быть форма-->         <!--DONE-->
<!--email-->                                    <!--DONE-->
<!--password-->                                 <!--DONE-->
<!--confirmPassword-->                          <!--DONE-->
<!--userName-->                                 <!--DONE-->

<!--3. Валидация для контролов-->               <!--DONE-->
<!--Email:-->                                   <!--DONE-->
<!--1: Валидные emails example: ['asd@asd.com', zolo@gmail.com,'kiroo.loka@com.ua']-->    <!--DONE-->
<!--2: Не валидные emails example: ['123.com', 'dada@da@da.com', 'dildipi.ru'].-->        <!--DONE-->
<!--Password:-->                                                                          <!--DONE-->
<!--Password должен содержать: 1 lowerCase, 1 upperCase, 1 special symbol, 3 numbers.-->  <!--DONE-->
<!--Example: aA#123.-->                                                                   <!--DONE-->
<!--ConfirmPassword:-->                                                                   <!--DONE-->
<!--ConfirmPassword должен содержать: 1 lowerCase, 1 upperCase, 1 special symbol, 3 numbers.-->   <!--DONE-->
<!--Должен совпадать с полем Password-->                                                          <!--DONE-->


<!--4. Не валидный email, userName или password должен быть обведен красным бордером.-->      <!--DONE-->

<!--5. В конце формы должна быть кнопка "Create new account". Если форма не валидна то кнопка disabled.-->   <!--DONE-->

<!--6. После успешной регистрации закидываем данные формы в локал сторедж и редиректим на страницу логина.-->   <!--DONE-->

<!--login img-->


<!--1. Создать страницу логина.-->                <!--DONE-->

<!--2. На странице есть форма с полями-->                                     <!--DONE-->
<!--email-->                                                                  <!--DONE-->
<!--password-->                                                               <!--DONE-->
<!--Валидация на оба поля рекваиред и все.-->                                 <!--DONE-->

<!--3. Должна быть кнопка "Login". Если форма не валидка кнопка disabled.-->    <!--DONE-->

<!--4. После клика по логину проверяем в стореже если есть такой юзер.-->       <!--DONE-->
<!--Если да:-->                                                                 <!--DONE-->
<!--то сохраняем данные текущего юзера в сессию и переходим на home page-->     <!--DONE-->  <!-- Создать сессию -->
<!--Если нет:-->                                                                <!--DONE-->
<!--выводим ошибку над кнопкой что такого юзера не существует-->                <!--DONE-->


<!--home img-->


<!--1. Создать страницу Home.-->                                                 <!--DONE-->

<!--2. На странице есть хедер с логотипом, кнопкой battles, userName - текущее имя пользователя.-->  <!--DONE-->
<!--2.1. Клик по логотипу навигейтит на home page-->                                                 <!--DONE-->
<!--2.2. Клик на кнопку battles навигйтит на battles page-->                                         <!--DONE-->
<!--2.3. Клик на userName навигетит на userName page-->                                              <!--DONE-->

<!--3. Ввод с поиском по иконке (правая сторона).-->                                                 <!--DONE-->
<!--После того, как пользователь введет любое значение и нажмет на иконку поиска,-->                 <!--DONE-->
<!--шлём запрос на сервер и получаем данные -> на странице отобразятся карточки супергероев.-->      <!--DONE-->

<!--4. Должно быть количество всех героев ( пример = количество: 140 );-->                           <!--DONE-->

<!--5. alphabet img - Слева от ввода должна быть кнопка, которая открывается после клика.-->         <!--DONE-->
<!--Меню от этой кнопки должно содержать каждую букву от А до Я.-->                                  <!--DONE-->
<!--После нажатия на любую кнопку (букву) это значение нужно отправить на вход и вызвать API для получения ответа.-->  <!--DONE-->

<!--hero card img-->


<!--Карта должна содержать:-->                                                                        <!--DONE-->
<!--1) Вся статистика мощности из ответа с бэкенда с иконками.-->                                     <!--DONE-->
<!--2) Кнопка "Выбрать".-->                                                                           <!--DONE-->
<!--3) Кнопка Просмотр информации.-->                                                                 <!--DONE-->

<!--После нажатия Select -> герой должен быть добавлен в "Страницу списка моих героев".-->
<!--После нажатия View Info -> пользователь перейдет на страницу «Hero-Detail-Page».-->               <!--DONE-->

<!--hero-detail img-->


<!--Создайте страницу сведений о герое.-->                                                            <!--DONE-->
<!--1. Пользователь может попасть на эту страницу, нажав на кнопку ( Посмотреть подробности ) из компонента-карты-героя.--> <!--DONE-->
<!--2. На этой странице должна быть аватарка героя.-->                                                 <!--DONE-->
<!--3. История героя (некоторое описание)-->                                                           <!--DONE-->
<!--4. Характеристики героя: сила, ловкость и любые другие по вашему желанию.-->                       <!--DONE-->


<!--Создать страницу моего профиля.-->                       <!--DONE-->
<!--1: Страница имеет (Материальные вкладки - tab)-->        <!--DONE-->
<!--1.1: Список моих героев-->                               <!--DONE-->
<!--1.2: История-->                                          <!--DONE-->
<!--1.3: Бонусы-->                                           <!--DONE-->
<!--(активная вкладка должна быть подчеркнута цветом)-->     <!--DONE-->
<!--пользователь не может щелкнуть 2 раза, если вкладка уже активна (указатель курсора должен быть только для неактивных вкладок).-->  <!--?DONE?-->

<!--Список моих героев. hero-select img-->                    <!--DONE-->
<!--Если мы на home page не выбрали героя то вкладка Heroes List пустая и нам предлагают выбрать героя empty-selected img кликая на добавить героя попадаем на home page.-->  <!--DONE-->

<!--Страница должна содержать список героев (базовый герой-компонент), направление столбца или строки => по вашему выбору.-->  <!--DONE-->
<!--На этой странице компонент Hero_card должен иметь новую кнопку (выбрать для боя), а 2 старые кнопки должны быть скрыты.-->  <!--DONE-->
<!--После нажатия на «Выбрать для боя» герой должен быть настроен на (боевую службу) как выбранный герой для будущих сражений.-->  <!--DONE-->
<!--Страница должна содержать нумерацию страниц.-->         <!--?????? ЗАЧЕМ ???????-->

<!--История. user-history img-->
<!--Страница должна содержать «таблицу материалов». Заголовки таблиц прикреплены в mockUp.-->
<!--Таблица должна иметь сортировку по столбцу.-->
<!--результат столбца должен содержать WIN/LOOSE-->

<!--Усиления. user-stats img-->
<!--Страница должна содержать ваши бонусы.-->
<!--Каждый PowerUp должен иметь 5 счетов.-->
<!--Пользователь может использовать любое усиление в битвах ( будущая страница ),-->
<!--после того, как будет использовано усиление, счетчик должен уменьшиться на 1.-->
<!--Если счетчик усиления равен 0, пользователь не может его использовать.-->
<!--Каждый день бонусы должны обновляться, поэтому на следующий день количество бонусов будет 5.-->
<!--Про бонусы от powerUps любому герою, будет развиваться в дальнейшем на BattlePage, не парьтесь об этом сейчас.-->


<!--battle-page img-->

<!--Создать страницу BATTLE.-->                         <!--DONE-->
<!--1) Как только я захожу на страницу боя по центру должна быть карточка моего выбранного героя и под ней большая кнопка "найти противника".-->  <!--DONE-->

<!--2) После клика на найти противника, моя карточка уезжает влево по центру экрана появляется текст (поиск противника)-->  <!--DONE-->
<!--+ маленький спиннер ( loader) он работает 3 секунды, после чего справа появляется случайный противник.-->               <!--DONE-->
<!--Во время поиска противника должна появляться кнопка ( остановить поиск) Если бой идет, кнопки быть не должно.-->  <!--DONE-->
<!--Остановив поиск мы вернем нашу карточку в центр и должен быть воспроизведен 1 этап.-->                          <!--DONE-->

<!--3) Как только противник найден по центру экрана текст меняется на иконку 2 мечей и под ней спиннер ( loader ) который работает 2 секунды.-->  <!--DONE-->

<!--4) После 2 секунд идет подсчет всех характеристик моих и противника и появляется текст Win (зеленый)-->
<!--или Loose (красный). Если мы проиграли то герой пропадает из избранных, внизу появляется кнопка выбрать другого героя.-->
<!--Если мы выиграли, то повторяется все начиная со 2 раздела.-->

<!--5) Итоги каждого боя должны попадать в таблицу нашего профиля.-->

<!--6) на 1 этапе , когда наша карточка по центру и горит кнопка найти противника, внизу должны быть наши "перки" ( усиления),-->
<!--мы можем использовать по 1 из каждого усиления на заход в битву ( пока не проиграем ).-->
<!--Если мы остановим поиск сами, усиления не должны пропасть, если мы проиграем то соответственно на другого героя они действовать не должны.-->
<!--Если перки активированы они должны отображаться где-либо на нашей карточке.-->

<!--<app-header *ngIf="userName"  [userNameInput]="userName"></app-header>-->
<!--<p *ngIf="bul">  USER CHECK</p>-->
<!--<app-card></app-card>-->

<!--*ngIf="userSession"-->

<router-outlet>

  <span *ngIf="!userName">
    <button (click)="logOut()" >Log Out/restart</button>
    не обновляйте страницу
  </span>
  <app-header  *ngIf=" userName" [userNameInput]="userName"></app-header>
</router-outlet>

<!--
*ngIf="userName"-->
